---
import Monasterio from "../assets/MONASTERIO.svg";
import Bodegas from "../assets/BODEGAS.svg";
import Herrera from "../assets/HERRERA.svg";
import Pueblo from "../assets/PUEBLO.svg";
import Flower from "../assets/flowers/Jara 1.svg";
---

<section id='Locations' class='grid grid-cols-1 sm:grid-cols-5 scroll-mt-40'>
  <div  class='relative w-full flex flex-col justify-center items-center bg-[#59002B] sm:col-start-2 sm:col-end-5 sm:row-start-3 pb-20 text-white'>
    <img id='flower' class='absolute top-[200px] right-[-100px] xl:right-[-200px] xl:w-[300px] xl:h-[300px] w-[200px] h-[200px]' src={Flower.src} alt='Flor decorativa' />

    <div class='static sm:relative flex justify-center items-center sm:ml-60 m-0 sm:-mb-22 p-0 text-xs mb-8'>
      <h3 class='absolute top-0 text-white text-xs text-center m-0 p-0 font-bold'>REAL MONASTERIO DE <br /> SANTA MARÍA DE GUADALUPE <br /><span class='font-light'>Ceremonia</span></h3>
      <img class='2xl:w-150 2xl:h-150 sm:w-74 sm:h-74 w-60 h-60 m-0 p-0' src={Monasterio.src} alt='imagen de el monasterio' />
    </div>
    <div class='static sm:relative flex justify-center items-center m-0 p-0 sm:mr-40 sm:-mb-42 px-10 mb-8'>
      <h3 class='absolute text-xs text-center top-75 sm:left-55 sm:top-22 font-bold'>BODEGAS RUIZ TORRES <br /> <span class='font-light'>Banquete</span></h3>
      <img class='2xl:w-150 2xl:h-150 sm:w-74 sm:h-74 w-60 h-60 m-0 p-0' src={Bodegas.src} alt='imagen de la bodega' />
    </div>

    <div class='static sm:relative flex justify-center items-center m-0 p-0 sm:-mb-22 sm:ml-60 mb-8'>
      <img class='2xl:w-150 2xl:h-150 sm:w-74 sm:h-74 w-60 h-60 m-0 p-0 font-bold' src={Herrera.src} alt='imagen de herrera del duque' />
      <h3 class='absolute sm:bottom-20 text-white top-145 2xl:top-105 sm:top-50 text-xs m-0 p-0 font-bold'>HERRERA DEL DUQUE</h3>
    </div>

    <div class='static sm:relative flex justify-center items-center m-0 p-0 sm:mr-40 mb-8'>
      <h3 class='absolute sm:top-10 text-xs sm:left-2 top-205 font-bold'>FUENLABRADA DE LOS MONTES</h3>
      <img class='2xl:w-150 2xl:h-150 sm:w-74 sm:h-74 w-60 h-60 m-0 p-0' src={Pueblo.src} alt='imagen de fuenlabrada de los montes' />
    </div>
    <p class='text-xs'>
      *Habrá a vuestra disposición autobuses desde todos los puntos de partida para que podais disfrutar sin preocupaciones del gran día. <br /> En la página wbe podréis encontrar más información. Podéis
      acceder a esta a través del QR de la derecha
    </p>
  </div>
</section>
